name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Run RuboCop linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Check if Ruby files are formatted
        run: bundle exec rake lint
